/* HOME-PAGE */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

header {
    background-color: lightblue; 
    color: white; 
    padding: 20px;
    text-align: center; 
}

.placeholder-logo {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 50px; 
    height: auto; 
    margin-top: 4px;
    margin-left: 4px;
}

.navbar {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin: 0; 
    margin-left: 50px;
    margin-right: 50px;
    padding: 0; 
    list-style: none; 
}

.cart {
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 25px; 
    height: auto; 
    margin-top: 15px;
    margin-right: 25px;
}

.home-page-photo-header {
    width: 100%;
}

.photo-row {
    display: flex; 
    justify-content: space-between; 
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.photo {
    width: 30%; 
    height: auto; 
}


main {
    padding: 20px;
    font-size: 18px;
    color: #333; 
}

/* PRODUCTS */
.product-photo-header {
    width: 100%
}

.category {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    margin-top: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0; 
    list-style: none; 
}

.category-showcase {
    width: 15%;
    height: auto;
}

/* ABOUT US */

.about-us-photo {
    width: 45%;
    height: auto;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}

.about-us-flex {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 60px;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin-top: 100px;
    margin-right: 50px;
}

.about-us-text h2 {
    margin-bottom: 0px;
}

.about-us-text p {
    margin-top: 1px;
}

.socials-flex {
    display: block;
    align-self: center;
    margin: 50px;
    text-align: center;
}

.socials-flex h3 {
    margin-bottom: 10px;
}

.socials-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials {
    width: 25px;
    height: auto;
}

/* FAQ */